{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

    <div class="container">

        {{ range .Data.Pages }}
        <div>
            {{ if .Params.link }}
            <h2><a href="{{ .Params.link }}">{{ .Title }}</a></h2>
            {{ else }}
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{ end }}
            <span class="lead">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
            <p>{{ .Summary }}</p>
        </div>
        {{ end }}

        {{ partial "container-footer.html" . }}

    </div>

{{ partial "footer.html" . }}
